* {
    margin: 0;
    padding: 0;
}

.drawing-board {
    display: inline-block;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;

    /* margin: 10px 10px 0 0; */
}