* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'KaushanScript';
    src: url(./fonts/KaushanScript-Regular.ttf);
}

body {
    background-color: #ededed;
}

body * {
    font-family: 'KaushanScript', serif;
}

.game-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    margin-top: 10px;
}

.size-area {
    width: 600px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.grid-size-area, .brush-size-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.grid-size-area .name-label, .brush-size-area .name-label {
    font-size: 30px;
}

.grid-size-area .size-label, .brush-size-area .size-label {
    font-size: 35px;
}

.grid-size-area input {
    width: 300px;
}

.brush-size-area input {
    width: 200px;
}

.options-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.options-panel input[type='color'] {
    width: 100px;
    height: 100px;
 
    border: none;
    border-radius: 50%;
    appearance: none;

    margin-left: 50px;
    margin-right: 50px;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    appearance: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

.options-panel button {
    width: 240px;
    font-size: 25px;

    padding: 10px 30px;
    border-radius: 10px;
}

.options-panel input[type='range'] {
    width: 100%;
}

.drawing-board {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 12px;
    margin-bottom: 50px;

    display: grid;
    
    width: 600px;
    height: 600px;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grid-row {
    display: flex;
}

.options-panel button:hover, .btn-active{
    background-color: rgb(204, 21, 85);
    color: rgb(255, 255, 255);
}