* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    margin-top: 10px;
}

.size-area {
    width: 600px;

    display: flex;
    justify-content: space-between;
}

.grid-size-area, .brush-size-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    font-size: 30px;

    margin-bottom: 40px;
}

.grid-size-area input {
    width: 300px;
}

.brush-size-area input {
    width: 200px;
}

.options-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.options-panel input[type='color'] {
    width: 100px;
    height: 100px;
 
    border: none;
    border-radius: 50%;
    appearance: none;

    margin-left: 50px;
    margin-right: 50px;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    appearance: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

.options-panel button {
    width: 200px;
    font-size: 20px;

    padding: 10px 30px;
    border-radius: 10px;
}

.options-panel input[type='range'] {
    width: 100%;
}

.drawing-board {
    margin-bottom: 70px;

    display: grid;
    
    width: 600px;
    height: 600px;

    outline: 0.5px solid rgb(0, 0, 0);

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grid-row {
    display: flex;
}

.btn-active {
    background-color: rgb(64, 201, 23);
}