* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    display: flex;
    justify-content: space-evenly;

    margin-top: 30px;
}

.options-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}

.options-panel input[type='color'] {
    width: 100px;
    height: 100px;
 
    border: none;
    border-radius: 50%;
    appearance: none;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    appearance: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}


.options-panel button {
    width: 300px;
    font-size: 20px;

    padding: 10px 30px;
    border-radius: 10px;
}

.options-panel .grid-size-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    font-size: 30px;
    width: 100%;
}

.options-panel input[type='range'] {
    width: 100%;
}

.drawing-board {
    display: inline-block;
    align-self: center;
    
    width: 500px;
    height: 500px;

    outline: 0.5px solid rgb(0, 0, 0);

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grid-row {
    display: flex;
}

/* .grid-cell {
    background-color: aquamarine;
} */

.active {
    background-color: rgb(220, 220, 220);
}